GuiConfig(
    // These IP Adresses are examples and might 
    //  serve as a default on some networks
    udp_listen_address: "127.0.0.1:7879",
    udp_server_address: "127.0.0.1:7878",
    display_address: "192.168.0.3",
)