ServerConfig(
    udp_listen_address: "127.0.0.1:7878",
    udp_client_address: "127.0.0.1:7879",
    ping_targets: [
        // Your local router IP
        "192.168.0.1",
        "192.168.0.3",
        // Any other host in your home network you want to ping
        "192.168.0.232",
        "9.9.9.9",
        "8.8.8.8",
        "8.8.4.4",
        
    ],
)